*{
  font-family:'Oswald',sans-serif;
}
.btn{
  cursor:pointer;
}

/*margin zero form  default spaced forms*/
form{
  margin:0;
}
*[disabled]{
  cursor:not-allowed!important;
}
.form-control[disabled]{
  opacity:.3!important;
  background-color:transparent!important;
}

/*configs para default dos buttons da sweetalert na intranet*/
.swal2-buttonswrapper .btn-swal-custom-intranetone{
  margin:0 .5em; 
}

/* default hold on big size*/
/*
.sk-bounce {
  width: 120px;
  height: 40px;
  text-align: center;
  margin-left:-40px;
}

.sk-bounce > div {
  width: 32px;
  height: 32px;
  background-color:#fff;
  opacity:.8;
}

#holdon-message{
  opacity:.8;
  font-size:32px;
  letter-spacing:2px;
}
*/