/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                        
    ██╗          █████╗     ██████╗     ███████╗    ██╗         ███████╗
    ██║         ██╔══██╗    ██╔══██╗    ██╔════╝    ██║         ██╔════╝
    ██║         ███████║    ██████╔╝    █████╗      ██║         ███████╗
    ██║         ██╔══██║    ██╔══██╗    ██╔══╝      ██║         ╚════██║
    ███████╗    ██║  ██║    ██████╔╝    ███████╗    ███████╗    ███████║
    ╚══════╝    ╚═╝  ╚═╝    ╚═════╝     ╚══════╝    ╚══════╝    ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* focus out and empty normal*/
.form-group .bmd-label-floating,
.form-group .bmd-label-static{
  color:#000;
  font-size:18px;
}
/* focus out and empty required*/
.form-group .bmd-label-floating.__required,
.form-group .bmd-label-static.__required{
  color:#000;
}

/* any label FOCUSED, EMPTY*/
.form-group.is-focused .bmd-label-floating,
.form-group.is-focused .bmd-label-static,
.form-group.is-focused .bmd-label-floating.__required,
.form-group.is-focused .bmd-label-static.__required{
  color:#000;
  font-size:15px;
}

/* any label FILLED, EMPTY OR FILLED*/
.form-group.is-filled .bmd-label-floating,
.form-group.is-filled .bmd-label-static,
.form-group.is-filled .bmd-label-floating.__required,
.form-group.is-filled .bmd-label-static.__required{
  color:#000;
  font-size:15px;
}

.form-group .bmd-label-floating{
  margin-top:8px;
}

.form-group .bmd-label-static,
.form-group.is-filled .bmd-label-static,
.form-group.is-focused .bmd-label-floating,
.form-group.is-filled .bmd-label-floating{
  margin-top:-4px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                      
    ██╗    ███╗   ██╗    ██████╗     ██╗   ██╗    ████████╗    ███████╗
    ██║    ████╗  ██║    ██╔══██╗    ██║   ██║    ╚══██╔══╝    ██╔════╝
    ██║    ██╔██╗ ██║    ██████╔╝    ██║   ██║       ██║       ███████╗
    ██║    ██║╚██╗██║    ██╔═══╝     ██║   ██║       ██║       ╚════██║
    ██║    ██║ ╚████║    ██║         ╚██████╔╝       ██║       ███████║
    ╚═╝    ╚═╝  ╚═══╝    ╚═╝          ╚═════╝        ╚═╝       ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.form-group  .form-control{
  background-image: linear-gradient(0deg,rgba(0,0,0,.2) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.1) 1px,transparent 0);
  
}

/* any label FOCUSED, EMPTY*/
.form-group.is-focused input.form-control{
  color:#000;
}

/* any label FILLED, EMPTY OR FILLED*/
.form-group.is-filled input.form-control{
  color:#000;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                                          
    ███████╗    ██╗   ██╗            ██╗     ██████╗     ██████╗     ███╗   ██╗    ███████╗
    ██╔════╝    ██║   ██║            ██║    ██╔════╝    ██╔═══██╗    ████╗  ██║    ██╔════╝
    █████╗      ██║   ██║            ██║    ██║         ██║   ██║    ██╔██╗ ██║    ███████╗
    ██╔══╝      ╚██╗ ██╔╝            ██║    ██║         ██║   ██║    ██║╚██╗██║    ╚════██║
    ██║          ╚████╔╝             ██║    ╚██████╗    ╚██████╔╝    ██║ ╚████║    ███████║
    ╚═╝           ╚═══╝              ╚═╝     ╚═════╝     ╚═════╝     ╚═╝  ╚═══╝    ╚══════╝
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.form-group .fv-ico{
  position:absolute;
  right:3px;
  margin-top:-34px;
  font-size: 12px;
}
.form-group.has-error .fv-ico{
  color:#d9534f;
}

.form-group.has-success .fv-ico{
  color:green;
}

/*Visibility used instead display, to mantein row heights, needs formValidation-custom on base vendors*/
.form-group .help-block{
  position:absolute;
  visibility:hidden;
  color:#d9534f;
}

.form-group.has-error .help-block{
  visibility:visible;
}