/*background-color helpers*/
.bg-facebook{  background-color: #2b4170; 
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
  background: linear-gradient(top, #3b5998, #2b4170);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b599', endColorstr='#2b4170',GradientType=1 );
}
.bg-instagram{background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

/*helpers para bordas - colocar em outro arquivo posteriormente*/
.b-red{border:1px red solid!important}
.b-green{border:1px green solid!important}
.b-blue{border:1px blue solid!important}
.b-white{border:1px white solid!important}
.b-black{border:1px black solid!important}
.b-lime{border:1px lime solid!important}
/*opacity helper*/
.op-0{opacity:0!important}
.op-1{opacity:.1!important}
.op-2{opacity:.2!important}
.op-3{opacity:.3!important}
.op-4{opacity:.4!important}
.op-5{opacity:.5!important}
.op-6{opacity:.6!important}
.op-7{opacity:.7!important}
.op-8{opacity:.8!important}
.op-9{opacity:.9!important}
.op-10{opacity:1!important}


.separator-lv::after{
  content:'';
  position:absolute;
  box-sizing:content-box;
  width:1px;
  height:80%;
  top:10%;
  right:0;
  background:-webkit-linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.2),rgba(255,255,255,0));
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                                                       
  ██████╗     ███████╗    ██╗  ██╗     █████╗     ██╗   ██╗    ██╗     ██████╗     ██████╗     ███████╗
  ██╔══██╗    ██╔════╝    ██║  ██║    ██╔══██╗    ██║   ██║    ██║    ██╔═══██╗    ██╔══██╗    ██╔════╝
  ██████╔╝    █████╗      ███████║    ███████║    ██║   ██║    ██║    ██║   ██║    ██████╔╝    ███████╗
  ██╔══██╗    ██╔══╝      ██╔══██║    ██╔══██║    ╚██╗ ██╔╝    ██║    ██║   ██║    ██╔══██╗    ╚════██║
  ██████╔╝    ███████╗    ██║  ██║    ██║  ██║     ╚████╔╝     ██║    ╚██████╔╝    ██║  ██║    ███████║
  ╚═════╝     ╚══════╝    ╚═╝  ╚═╝    ╚═╝  ╚═╝      ╚═══╝      ╚═╝     ╚═════╝     ╚═╝  ╚═╝    ╚══════╝
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.transition-off{
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
  transition: none!important;
}
.mouse-off{
  pointer-events: none!important;
}
.__disabled{
  opacity:.7!important;
}