/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                        
    ██╗          █████╗     ██████╗     ███████╗    ██╗         ███████╗
    ██║         ██╔══██╗    ██╔══██╗    ██╔════╝    ██║         ██╔════╝
    ██║         ███████║    ██████╔╝    █████╗      ██║         ███████╗
    ██║         ██╔══██║    ██╔══██╗    ██╔══╝      ██║         ╚════██║
    ███████╗    ██║  ██║    ██████╔╝    ███████╗    ███████╗    ███████║
    ╚══════╝    ╚═╝  ╚═╝    ╚═════╝     ╚══════╝    ╚══════╝    ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* focus out and empty normal*/
.form-group .bmd-label-floating,
.form-group .bmd-label-static{
  color:#009688;
}
/* focus out and empty required*/
.form-group .bmd-label-floating.__required,
.form-group .bmd-label-static.__required{
  color:#d9534f;
}

/* any label FOCUSED, EMPTY*/
.form-group.is-focused .bmd-label-floating,
.form-group.is-focused .bmd-label-static,
.form-group.is-focused .bmd-label-floating.__required,
.form-group.is-focused .bmd-label-static.__required{
  color:green;
}

/* any label FILLED, EMPTY OR FILLED*/
.form-group.is-filled .bmd-label-floating,
.form-group.is-filled .bmd-label-static,
.form-group.is-filled .bmd-label-floating.__required,
.form-group.is-filled .bmd-label-static.__required{
  color:#009688;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                      
    ██╗    ███╗   ██╗    ██████╗     ██╗   ██╗    ████████╗    ███████╗
    ██║    ████╗  ██║    ██╔══██╗    ██║   ██║    ╚══██╔══╝    ██╔════╝
    ██║    ██╔██╗ ██║    ██████╔╝    ██║   ██║       ██║       ███████╗
    ██║    ██║╚██╗██║    ██╔═══╝     ██║   ██║       ██║       ╚════██║
    ██║    ██║ ╚████║    ██║         ╚██████╔╝       ██║       ███████║
    ╚═╝    ╚═╝  ╚═══╝    ╚═╝          ╚═════╝        ╚═╝       ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.form-group  .form-control{
  background-image: linear-gradient(0deg,rgba(0,150,135,.2) 2px,rgba(0,150,135,0) 0),linear-gradient(0deg,rgba(0,150,135,.1) 1px,transparent 0);
}

/* any label FOCUSED, EMPTY*/
.form-group.is-focused input.form-control{
  color:#444;
}

/* any label FILLED, EMPTY OR FILLED*/
.form-group.is-filled input.form-control{
  color:#444;
}

.form-group  .form-control::placeholder{
  color: rgba(0,0,0,.2);
}
.form-group  .form-control:-ms-input-placeholder{
  color: rgba(0,0,0,.2);
}
.form-group  .form-control::-ms-input-placeholder{
  color: rgba(0,0,0,.2);
}
